<div class="d-flex justify-content-center align-items-center min-vh-100">
  <form
    class="shadow p-4 bg-white rounded w-100"
    [formGroup]="form"
    (ngSubmit)="login()"
    style="max-width: 400px"
  >
    <div class="mb-4 text-center">
      <h1 class="fw-bold mb-2">Login</h1>
      <h6 class="text-muted">Login to your account</h6>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-envelope"></i>
        </span>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Email"
          formControlName="email"
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-lock"></i>
        </span>
        <input
          [type]="hide ? 'password' : 'text'"
          id="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        />
        <!-- <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="hide = !hide"
        > -->
        <!-- <i class="bi" [ngClass]="hide ? 'bi-eye-slash' : 'bi-eye'"></i> -->
        <!-- </button> -->
      </div>
    </div>

    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn btn-primary w-100 fw-bold"
    >
      Login
    </button>

    <div class="mt-4 text-center">
      <span class="text-muted">Don't have an account?</span>
      <a class="text-primary" [routerLink]="['/register']">Register</a>
    </div>
  </form>
</div>
